/*Autor Omar, Pablo, Ignacio*/
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
}

/* Definir el contenedor del grid */
body {
  display: grid;
  grid-template-rows: auto auto 1fr;
  /* 3 filas */
}

/* Estilos del header */
header {
  background-color: #5d9a9d;
  color: white;
  padding: 20px;
  text-align: center;

}

/* Estilos del nav */
nav {
  background-color: #5d9a9d;
  color: white;
  padding: 10px;
}

/* Estilos del main */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos de la tabla */
table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: 1px solid yellow;
  padding: 10px;
}

#domin {
  color: skyblue;
}

/* Estilos del footer */
footer {
  background-color: #5d9a9d;
  color: white;
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;

}

/* Estilos enlaces */
a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: large;
}